{{define "base"}}<!doctype html>
<html lang="{{.Lang}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{if .Title}}{{.Title}} · {{end}}Working Time Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="/static/app.css">
  <script>window.BOOT = {{.Boot}};</script>
  <script src="/i18n/{{.Lang}}.js?v={{.I18nHash}}"></script>
  {{- if .Markdown}}
  <script src="/static/marked.min.js" defer></script>
  <script src="/static/purify.min.js" defer></script>
  {{- end}}
  <script src="/static/app.js" defer></script>
  {{- if .Script}}
  <script src="/static/pages/{{.Script}}.js" defer></script>
  {{- end}}
  <script src="/static/alpine.min.js" defer></script>
</head>
<body>
{{- if .Me}}
{{template "topbar" .}}
{{- else}}
<div class="lang-float">{{template "lang_switch" .}}</div>
{{- end}}
{{template "content" .}}
{{- if .Me}}
{{template "active_session" .}}
{{- end}}
{{template "modal" .}}
{{template "toasts" .}}
</body>
</html>{{end}}
