{{/* field_error é o erro de um campo, embaixo dele. Recebe o nome do campo na API (o mesmo do data-field do
     input), e o texto vem de fieldErrors[nome] do mixin WTT.form. {{template "field_error" "name"}} */}}
{{define "field_error"}}<p class="form-error" id="err-{{.}}" x-cloak x-show="fieldErrors['{{.}}']" x-text="fieldErrors['{{.}}']" role="alert"></p>{{end}}
