<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Working Time Tracker</title>
    <script src="/static/alpine.min.js" defer></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>
    <main>
        {{block "content" .}}{{end}}
    </main>
</body>
</html>
